body {
  height: 2000vh;
  width: 100vw;
  overflow-x: hidden;
}
#bg-border {
  width: 50vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 80vh;
  background-image: url("Background1.gif");
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.5s;
}

#main-text {
    position: fixed;
    font-size: 5rem;
    top: 40%;
    transition: 0.5s;
}
#turtle {
  position: static;
  transition: 0.3s;
  width: 150px;
}
#turtle-top {
  display: none;
  position: static;
  transition: 0.3s;
  width: 150px;
}
#shark {
  display: none;
  position: fixed;
  left: 20%;
}

#turtle, #turtle-top {
  transition: opacity 0.5s;
}